Repository ErnieAtLYD/reflect-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: implement task 6
  src/app/page.tsx
  src/components/__tests__/reflection-display.test.tsx
  src/components/ui/journal-entry-input.tsx
  src/components/ui/reflection-display.tsx
  src/components/ui/textarea.tsx
  src/hooks/use-clipboard.ts
Due: prettier --write, eslint --fix

docs: add API testing report for reflection endpoint
  .taskmaster/docs/API_TESTING_REPORT.md
Due: prettier --write

feat(tests): add comprehensive API testing suites
  .taskmaster/docs/API_TESTING_REPORT.md
  src/app/api/reflect/__tests__/caching.test.ts
  src/app/api/reflect/__tests__/edge-cases.test.ts
  src/app/api/reflect/__tests__/integration.test.ts
  test-api-integration.js
  test-caching.js
  test-edge-cases.js
Due: prettier --write, eslint --fix

feat(tests): implement rate limiting improvements for API tests
  .taskmaster/docs/test-rate-limiting.md
  package.json
  src/app/api/reflect/__tests__/caching.test.ts
  src/app/api/reflect/__tests__/edge-cases.test.ts
  src/app/api/reflect/__tests__/integration.test.ts
  vitest.config.mjs
Due: prettier --write, eslint --fix

feat(rate-limiting): implement dynamic cleanup interval for rate limiting store
  src/app/api/reflect/route.ts
Due: prettier --write, eslint --fix

test(reflector): add unit tests for Reflector component behavior
  src/components/__tests__/reflector.test.tsx
  vitest.config.mjs
Due: prettier --write, eslint --fix

feat(config): centralize configuration constants and integrate OPENAI_TIMEOUT_MS
  src/app/api/reflect/route.ts
  src/constants/README.md
  src/constants/ai.ts
  src/constants/index.ts
  src/lib/openai.ts
Due: prettier --write, eslint --fix

test(api): add rate limiting and caching tests for reflect endpoint
  src/app/api/reflect/__tests__/rate-limiting.test.ts
  src/app/api/reflect/__tests__/route.test.ts
Due: prettier --write, eslint --fix

feat(history): implement localStorage history functionality for journal entries
  src/components/app/reflector.tsx
  src/components/ui/history-toggle.tsx
  src/components/ui/history-view.tsx
  src/lib/history-storage.ts
Due: prettier --write, eslint --fix

feat(history): add data validation for localStorage parsing security
  src/lib/history-storage.ts
Due: prettier --write, eslint --fix

feat(history): add comprehensive runtime validation for parsed data interfaces
  src/lib/history-storage.ts
Due: prettier --write, eslint --fix

feat(history): add conditional history storage checks to prevent errors
  src/components/app/reflector.tsx
  src/lib/history-storage.ts
Due: prettier --write, eslint --fix

feat(ui): enhance history components with tooltips, tests, and modal improvements
  src/app/api/reflect/__tests__/edge-cases.test.ts
  src/components/__tests__/history-toggle.test.tsx
  src/components/__tests__/history-view.test.tsx
  src/components/ui/dialog.tsx
  src/components/ui/history-toggle.tsx
  src/components/ui/history-view.tsx
Due: prettier --write, eslint --fix

perf(history): replace polling with event-driven updates for better performance
  src/components/__tests__/history-view.test.tsx
  src/components/ui/history-view.tsx
  src/lib/history-storage.ts
Due: prettier --write, eslint --fix

feat(test): add Vitest type definitions for global test functions
  src/test/vitest-env.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor(reflector): ensure history state consistency at save time
  src/components/app/reflector.tsx
  src/components/ui/history-view.tsx
Due: prettier --write, eslint --fix

feat(history-toggle): add first-time tooltip to history toggle button
  src/components/__tests__/history-toggle.test.tsx
  src/components/ui/history-toggle.tsx
Due: prettier --write, eslint --fix

feat(privacy): implement privacy-first messaging and policy
  next.config.ts
  src/app/privacy/page.tsx
  src/components/app/reflector.tsx
Due: prettier --write, eslint --fix

feat(accessibility): implement skip navigation links for task 14.1
  .taskmaster/tasks/task_011.txt
  src/app/globals.css
  src/app/layout.tsx
  src/components/__tests__/skip-link.test.tsx
  src/components/app/reflector.tsx
  src/components/ui/skip-link.tsx
Due: prettier --write, eslint --fix

feat(accessibility): enhance WCAG 2.1 AA color contrast compliance
  src/app/globals.css
  src/test/__tests__/accessibility-audit.test.tsx
  src/test/__tests__/color-contrast.test.ts
  src/test/color-contrast.ts
Due: prettier --write, eslint --fix

feat(accessibility): implement screen reader enhancements and live regions
  src/app/globals.css
  src/components/app/reflector.tsx
  src/components/ui/aria-announcer.tsx
  src/components/ui/journal-entry-input.tsx
  src/components/ui/landmark-navigation.tsx
  src/lib/live-regions.ts
  src/test/__tests__/screen-reader-enhancements.test.tsx
  src/test/color-contrast.ts
  src/test/screen-reader-testing.ts
Due: prettier --write, eslint --fix

feat(accessibility): implement comprehensive focus management system
  src/app/globals.css
  src/components/app/reflector.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dynamic-content.tsx
  src/components/ui/focusable-button.tsx
  src/hooks/use-focus-management.ts
  src/lib/focus-management.ts
  src/test/__tests__/focus-management.test.tsx
Due: prettier --write, eslint --fix

fix(focusable-button): resolve TypeScript error in React.cloneElement typing
  src/components/ui/focusable-button.tsx
Due: prettier --write, eslint --fix

feat(deployment): Set up Vercel for frontend deployment with optimized Next.js configuration
  .taskmaster/docs/DEPLOYMENT.md
  .taskmaster/docs/DEPLOYMENT_CHECKLIST.md
  .taskmaster/docs/SCREEN_READER_ENHANCEMENTS.md
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_016A.txt
  .taskmaster/tasks/task_016B.txt
  .taskmaster/tasks/task_016C.txt
  .taskmaster/tasks/task_016D.txt
  .taskmaster/tasks/task_016E.txt
  .taskmaster/tasks/task_016F.txt
  .vercelignore
  next.config.ts
  vercel.json
Due: prettier --write, eslint --fix

feat(config): limit serverless function regions and set API body size
  next.config.ts
  vercel.json
Due: prettier --write, eslint --fix

feat(ci): implement comprehensive CI/CD pipeline for PRs and main branch
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

style: fix code formatting and linting issues
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  pnpm-lock.yaml
  src/app/globals.css
  src/components/app/reflector.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dynamic-content.tsx
  src/components/ui/focusable-button.tsx
  src/hooks/use-focus-management.ts
  src/lib/focus-management.ts
  src/test/__tests__/focus-management.test.tsx
Due: prettier --write, eslint --fix

feat(tests): add missing @vitest/coverage-v8 dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): resolve CI pipeline issues and improve error handling
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  src/test/__tests__/screen-reader-enhancements.test.tsx
Due: prettier --write, eslint --fix

test: enhance accessibility and focus management test coverage
  pnpm-lock.yaml
  src/components/__tests__/history-toggle.test.tsx
  src/components/__tests__/history-view.test.tsx
  src/hooks/use-focus-management.ts
  src/test/__tests__/focus-management.test.tsx
  src/test/__tests__/screen-reader-enhancements.test.tsx
Due: prettier --write, eslint --fix

fix(ci): resolve Claude Code workflow authentication issues
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat(ci): restore comprehensive CI/CD pipeline for PRs and main branch
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

feat(ci): add comprehensive CI/CD pipeline
  .github/ENVIRONMENT_SETUP.md
  .github/workflows/ci.yml
Due: prettier --write

ci: update Node.js setup and adjust E2E tests condition
  .github/workflows/ci.yml
Due: none

chore(ci): update Node and PNPM versions in GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

fix(ci): add missing dependency installation in security audit job
  .github/workflows/ci.yml
Due: none

docs(style): add comprehensive style guide for Reflect app
  STYLE_GUIDE.md
Due: prettier --write

fix(hooks): add examples to custom hooks and correct formatting issues
  .claude/agents/ui-design-reviewer.md
  .claude/commands/design-review.md
  .claude/commands/security-review.md
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .taskmaster/docs/design-principles.md
  STYLE_GUIDE.md
  src/hooks/use-clipboard.ts
  src/hooks/use-focus-management.ts
  src/lib/history-storage.ts
Due: prettier --write, eslint --fix

feat(analytics): Implement local privacy-first analytics system
  .taskmaster/tasks/task_015.txt
  src/lib/analytics.ts
Due: prettier --write, eslint --fix

feat(analytics): implement end-to-end analytics tests and tracking hooks
  .taskmaster/tasks/task_016B.txt
  e2e/analytics.spec.ts
  src/app/components-demo/page.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/components/app/reflector.tsx
  src/components/ui/feedback.tsx
  src/components/ui/history-toggle.tsx
  src/hooks/useAnalytics.ts
  src/lib/__tests__/analytics-test-utils.ts
  src/lib/__tests__/analytics.integration.test.ts
  src/lib/__tests__/analytics.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  eslint --fix: any of: *.{ts,tsx}
