Repository ErnieAtLYD/reflect-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(ui): enhance text input and reflection display components
  src/app/components-demo/page.tsx
  src/components/ui/journal-entry-input.tsx
  src/components/ui/reflection-display.tsx
Due: prettier --write, eslint --fix

chore(tests): update API tests with mocks and direct handler calls
  eslint.config.mjs
  src/app/api/reflect/__tests__/caching.test.ts
  src/app/api/reflect/__tests__/edge-cases.test.ts
  src/app/api/reflect/__tests__/integration.test.ts
  vitest.config.mjs
Due: prettier --write, eslint --fix

fix(tests): remove HTTP server dependency from API integration tests
  src/app/api/reflect/__tests__/edge-cases.test.ts
  src/app/api/reflect/__tests__/integration.test.ts
Due: prettier --write, eslint --fix

fix(tests): resolve failing unit tests in CI/CD pipeline
  src/components/ui/journal-entry-input.tsx
  src/hooks/use-focus-management.ts
  src/test/__tests__/screen-reader-enhancements.test.tsx
Due: prettier --write, eslint --fix

fix(tests): resolve CI/CD environment test failures
  package.json
  pnpm-lock.yaml
  src/components/__tests__/history-view.test.tsx
  src/components/__tests__/journal-entry-input.test.tsx
  src/components/__tests__/reflection-display.test.tsx
  src/test/setup.ts
Due: prettier --write, eslint --fix

chore(pnpm): fix lockfile for cicd
  pnpm-lock.yaml
Due: none

refactor: remove example Playwright test and serverless regions limit
  e2e/example.spec.ts
  next.config.ts
Due: prettier --write, eslint --fix

ci: disable Playwright E2E tests and related steps
  .github/workflows/ci.yml
  next.config.ts
Due: prettier --write, eslint --fix

refactor(components): update tooltip responsiveness and text styles
  src/components/__tests__/first-time-tooltip.test.tsx
  src/components/app/reflector.tsx
  src/components/ui/first-time-tooltip.tsx
Due: prettier --write, eslint --fix

fix(tests): resolve CI test failures for dialog and live regions
  src/lib/live-regions.ts
  src/test/setup.ts
Due: prettier --write, eslint --fix

fix(tests): resolve additional CI test failures and timer cleanup issues
  src/components/__tests__/theme-toggle.test.tsx
  src/test/setup.ts
Due: prettier --write, eslint --fix

fix(reflector): adjust paragraph text styling for clarity
  src/components/app/reflector.tsx
Due: prettier --write, eslint --fix

feat(task-status): update task statuses and subtask breakdowns
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_009A.txt
  .taskmaster/tasks/task_009B.txt
  .taskmaster/tasks/task_009C.txt
  .taskmaster/tasks/task_009D.txt
  .taskmaster/tasks/task_009E.txt
  .taskmaster/tasks/task_009F.txt
  .taskmaster/tasks/task_009G.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_016A.txt
  .taskmaster/tasks/task_016D.txt
  .taskmaster/tasks/task_016E.txt
  .taskmaster/tasks/task_016F.txt
  .taskmaster/tasks/task_017.txt
Due: none

feat: task 9B
  CLAUDE.md
  database/README.md
  database/migrations/001_create_feedback_table.sql
  package.json
  pnpm-lock.yaml
  src/app/api/feedback/README.md
  src/app/api/feedback/__tests__/route-simple.test.ts
  src/app/api/feedback/route.ts
  src/app/components-demo/page.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/components/app/reflector.tsx
  src/components/ui/feedback.tsx
  src/components/ui/history-toggle.tsx
  src/components/ui/reflection-display.tsx
  src/hooks/use-analytics.ts
  src/lib/__tests__/feedback-storage.test.ts
  src/lib/feedback-storage.ts
  src/lib/openai.ts
  src/lib/supabase.ts
  src/types/__tests__/database.test.ts
  src/types/ai.ts
  src/types/database.ts
Due: prettier --write, eslint --fix

feat: add reflection IDs and improve Supabase configuration handling
  src/app/components-demo/page.tsx
  src/components/__tests__/history-view.test.tsx
  src/components/__tests__/reflection-display.test.tsx
  src/lib/feedback-storage.ts
  src/lib/supabase.ts
Due: prettier --write, eslint --fix

refactor(tests): simplify supabase mocks in feedback-storage tests
  src/lib/__tests__/feedback-storage.test.ts
Due: prettier --write, eslint --fix

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: resolve HeadlessUI/JSDOM compatibility issues in tests
  src/components/__tests__/dialog.test.tsx
  src/test/setup.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript and ESLint errors in test setup
  src/test/setup.ts
Due: prettier --write, eslint --fix

fix: prevent activeElement property redefinition error
  src/test/setup.ts
Due: prettier --write, eslint --fix

fix: temporarily disable accessibility testing to unblock CI
  src/test/accessibility.ts
Due: prettier --write, eslint --fix

fix: exclude focus-management tests and update Next.js
  package.json
  pnpm-lock.yaml
  vitest.config.mjs
Due: prettier --write

fix: format code with prettier
  pnpm-lock.yaml
  vitest.config.mjs
Due: none

fix: exclude more failing component tests
  vitest.config.mjs
Due: none

fix: temporarily disable unit tests in CI
  .github/workflows/ci.yml
Due: none

ci: disable unit tests due to HeadlessUI and JSDOM incompatibility
  .github/workflows/ci.yml
Due: none

fix: ci
  .github/workflows/ci.yml
Due: none

feat: migrate Dialog component from @headlessui/react to @radix-ui/react-dialog
  CLAUDE.md
  package.json
Due: prettier --write

refactor(components): switch dialog component from HeadlessUI to Radix UI
  src/components/__tests__/dialog.test.tsx
  src/components/ui/dialog.tsx
Due: prettier --write, eslint --fix

feat: migrate Dialog component from HeadlessUI to Radix UI
  pnpm-lock.yaml
Due: none

fix: remove deprecated restoreFocus prop from Dialog test
  src/test/__tests__/focus-management.test.tsx
Due: prettier --write, eslint --fix

build: extend prettier formatting to include YAML files
  package.json
Due: prettier --write

build: lockfile
  pnpm-lock.yaml
Due: none

feat(dialog): enhance accessibility and add user event tests
  src/components/__tests__/dialog.test.tsx
  src/components/ui/dialog.tsx
Due: prettier --write, eslint --fix

refactor: remove over-engineered focus management system
  .github/workflows/deploy.yml
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/components/__tests__/dialog.test.tsx
  src/components/app/reflector.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dynamic-content.tsx
  src/components/ui/focusable-button.tsx
  src/hooks/use-clipboard.ts
  src/hooks/use-focus-management.ts
  src/lib/focus-management.ts
  src/test/__tests__/focus-management.test.tsx
  src/test/accessibility.ts
  src/test/setup.ts
Due: prettier --write, eslint --fix

fix: format pnpm-lock.yaml for CI/CD compatibility
  pnpm-lock.yaml
Due: none

feat: remove components-demo page and fix E2E tests
  README.md
  e2e/responsive-validation.spec.ts
  e2e/responsive.spec.ts
  src/app/components-demo/page.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  eslint --fix: any of: *.{ts,tsx}
