Repository ErnieAtLYD/reflect-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(config): add initial configuration for AI models and global settings
  .taskmaster/config.json
  .taskmaster/docs/prd.md
  .taskmaster/tasks/tasks.json
Due: prettier --write

feat: implement new color palette and accessibility guidelines
  COLOR_PALETTE.md
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: add TailwindCSS configuration
  .prettierrc
  eslint.config.mjs
  postcss.config.mjs
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: enhance typography and font loading
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

fix: add newline at end of vitest.config.mjs file
  vitest.config.mjs
Due: none

chore: update dependencies to latest versions
  COLOR_PALETTE.md
  pnpm-lock.yaml
Due: prettier --write

feat: integrate design tokens with Tailwind config
  COLOR_PALETTE.md
  README.md
Due: prettier --write

feat(styles): add custom breakpoints and container sizes to globals.css
  src/app/globals.css
Due: prettier --write

docs: move COLOR_PALETTE.md to docs directory and add component usage guide
  docs/COLOR_PALETTE.md
  docs/component-usage-guide.md
  docs/responsive-design.md
Due: prettier --write

feat(layout): update responsive design and font variables
  .taskmaster/tasks/tasks.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

feat(e2e): add tests for Parkinsans font loading
  e2e/font-loading.spec.ts
  src/components/__tests__/font-loading.test.tsx
  src/components/__tests__/font-test.test.tsx
  src/components/font-test.tsx
Due: prettier --write, eslint --fix

refactor: streamline TailwindCSS config and remove unused styles
  docs/component-usage-guide.md
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat(tasks): update task statuses and add new responsive design tasks
  .taskmaster/tasks/tasks.json
Due: prettier --write

chore(tailwind): extend theme configuration with custom properties
  .taskmaster/docs/COLOR_PALETTE.md
  .taskmaster/docs/component-usage-guide.md
  .taskmaster/docs/responsive-design.md
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_015.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat(components): Implement ErrorMessage, Feedback, and LoadingSpinner components
  src/components/__tests__/error-message.test.tsx
  src/components/__tests__/feedback.test.tsx
  src/components/__tests__/loading-spinner.test.tsx
  src/components/ui/error-message.tsx
  src/components/ui/feedback.tsx
  src/components/ui/loading-spinner.tsx
  src/components/ui/textarea.tsx
Due: prettier --write, eslint --fix

feat(ui-components): implement new UI components with tests
  .taskmaster/tasks/tasks.json
  CLAUDE.md
  src/components/__tests__/textarea.test.tsx
  src/components/ui/textarea.tsx
  tailwind.config.ts.backup
Due: prettier --write, eslint --fix

feat(accessibility): implement comprehensive accessibility features and ARIA support
  .taskmaster/tasks/tasks.json
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/components/__tests__/dialog.test.tsx
  src/components/__tests__/error-message.test.tsx
  src/components/__tests__/feedback.test.tsx
  src/components/__tests__/loading-spinner.test.tsx
  src/components/__tests__/textarea.test.tsx
  src/components/ui/dialog.tsx
  src/test/accessibility.ts
  src/test/setup.ts
Due: prettier --write, eslint --fix

feat: implement task 2.5
  .taskmaster/docs/DARK_MODE.md
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/components/__tests__/theme-toggle.test.tsx
  src/components/theme-provider.tsx
  src/components/ui/error-message.tsx
  src/components/ui/textarea.tsx
  src/components/ui/theme-toggle.tsx
  src/test/setup.ts
Due: prettier --write, eslint --fix

feat(testing): add user-event library and improve theme-toggle tests
  package.json
  pnpm-lock.yaml
  src/components/__tests__/theme-toggle.test.tsx
  src/test/accessibility.ts
Due: prettier --write, eslint --fix

fix(ui): ensure theme cycle order in ThemeToggleAdvanced
  src/components/ui/theme-toggle.tsx
Due: prettier --write, eslint --fix

feat(theme): implement comprehensive dark/light mode system
  CLAUDE.md
Due: prettier --write

feat: implement subtask 2.6
  .taskmaster/tasks/tasks.json
  CLAUDE.md
  e2e/responsive.spec.ts
  src/app/globals.css
  src/app/page.tsx
  src/components/ui/theme-toggle.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: complete task 2
  .taskmaster/tasks/task_002.txt
  README.md
  e2e/responsive-validation.spec.ts
  e2e/responsive.spec.ts
  e2e/screenshots/responsive-2xl-1536x1024.png
  e2e/screenshots/responsive-lg-1024x768.png
  e2e/screenshots/responsive-md-768x1024.png
  e2e/screenshots/responsive-mobile-375x667.png
  e2e/screenshots/responsive-sm-640x800.png
  e2e/screenshots/responsive-xl-1280x1024.png
  e2e/screenshots/responsive-xs-480x800.png
  playwright.dev.config.ts
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix

feat(e2e): enhance responsive layout validation tests
  e2e/responsive-validation.spec.ts
  e2e/screenshots/responsive-2xl-1536x1024.png
  e2e/screenshots/responsive-lg-1024x768.png
  e2e/screenshots/responsive-md-768x1024.png
  e2e/screenshots/responsive-mobile-375x667.png
  e2e/screenshots/responsive-sm-640x800.png
  e2e/screenshots/responsive-xl-1280x1024.png
  e2e/screenshots/responsive-xs-480x800.png
  src/app/page.tsx
Due: prettier --write, eslint --fix

feat: add e2e testing support for development environment
  CLAUDE.md
  package.json
  playwright.config.ts
  playwright.development.config.ts
  src/config/ports.ts
Due: prettier --write, eslint --fix

feat: add framer-motion dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

submitted a PR
  .taskmaster/docs/COLOR_PALETTE.md
  src/app/components-demo/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/__tests__/dialog.test.tsx
  src/components/ui/first-time-tooltip.tsx
Due: prettier --write, eslint --fix

feat(tests): improve accessibility and cleanup in unit tests
  src/components/__tests__/feedback.test.tsx
  src/components/__tests__/first-time-tooltip.test.tsx
  src/components/__tests__/textarea.test.tsx
  src/test/setup.ts
Due: prettier --write, eslint --fix

refactor(styles): remove unused color variables from globals.css
  src/app/globals.css
Due: prettier --write

refactor(color-system): streamline color palette and update UI components
  .taskmaster/docs/COLOR_PALETTE.md
  src/app/globals.css
  src/components/__tests__/feedback.test.tsx
  src/components/ui/feedback.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix

fix(tooltip): handle localStorage errors gracefully
  src/app/components-demo/page.tsx
  src/components/__tests__/first-time-tooltip.test.tsx
  src/components/ui/first-time-tooltip.tsx
Due: prettier --write, eslint --fix

feat: add JournalEntryInput component with auto-resize and validation
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/__tests__/journal-entry-input.test.tsx
  src/components/ui/journal-entry-input.tsx
Due: prettier --write, eslint --fix

refactor(app): simplify placeholder text in Home component
  src/app/page.tsx
Due: prettier --write, eslint --fix

feat: complete task 4 - Journal Entry Input component
  .taskmaster/tasks/task_004.txt
  src/components/ui/journal-entry-input.tsx
Due: prettier --write, eslint --fix

feat: implement AI integration service (Task 5)
  .taskmaster/tasks/task_005.txt
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app/api/reflect/__tests__/route.test.ts
  src/app/api/reflect/route.ts
  src/lib/ai-client.ts
  src/lib/openai.ts
  src/types/ai.ts
Due: prettier --write, eslint --fix

refactor(tests): switch from jest to vitest for mocking and utilities
  src/app/api/reflect/__tests__/route.test.ts
  src/test/setup.ts
Due: prettier --write, eslint --fix

feat(testing): implement comprehensive API testing suite
  API_TESTING_REPORT.md
  test-api-integration.js
  test-caching.js
  test-edge-cases.js
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  eslint --fix: any of: *.{ts,tsx}
